@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #010c36;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000415;
  color: white;
  font-family: "Inter", sans-serif;
}

.btn-bg {
  background: linear-gradient(
    83.46deg,
    #07ead3 -1.94%,
    #26ddff 51.77%,
    #6fc6b8 94.43%
  );
}
.btn-bg:hover {
  box-shadow: 0px 14px 30px 0px #22def96e;
}

.btn-shadow {
  box-shadow: 0px 10px 20px 0px #22def96e;
}
.copyright-bg {
  background: linear-gradient(
    90deg,
    #000618 2.31%,
    #00c3fd 47.25%,
    #000618 99.25%
  );
}

.height70 {
  min-height: 60dvh;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 4px solid #64748b;
  border-radius: 50%;
  border-top-color: rgb(5, 8, 48);
  animation: spinner 0.6s linear infinite;
}

.overwrite:hover {
  color: white !important;
}

.zero-landing {
  min-height: calc(100vh - 80px);
}

@media (max-width: 768px) {
  .zero-landing {
    min-height: calc(100vh - 64px);
  }
}

.inter {
  font-family: "Inter", sans-serif;
}

.custom-shape {
  background: linear-gradient(
    to bottom,
    #050b1f 0%,
    #0b1a3a 15%,
    #050b1f 50%,
    #020615 100%
  );
  clip-path: polygon(10% 0%, 90% 0%, 100% 12%, 100% 100%, 0% 100%, 0% 12%);
  border-radius: 16px;
}
/* .custom-shape::after {
  content: "";
  position: absolute;
  top: 40px;

  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
} */
